# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
.claude
# run

# Files from Forge MDK
forge*changelog.txt

# run/
run/config/
run/crash-reports/
run/data/
run/defaultconfigs/
run/logs/*
run/resourcepacks/
run/resources/
run/saves/
run/schematics/uploaded
run/screenshots/
run/servers.*
run/mods/
run/fabricloader.log
run/options.txt
run/usercache.json
run/usernamecache.json
run/hs_err_pid*.log
run/imgui.init
run/emi.json
run/.mixin.out
run/gametest
run/logs
run/server
run/client2

# LLM
.claude/*
